<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>

    <appSettings>
        <add key="Client0" value="rtsp://192.168.102.170:8554/wc" />
        <add key="Client1" value="rtsp://192.168.1.54/live/mjpeg" />
        <add key="Client2" value="rtsp://192.168.1.54/live/mjpeg" />
        <add key="Client3" value="rtsp://192.168.1.54/live/mjpeg" />
        <add key="Client4" value="rtsp://192.168.1.54/live/mjpeg" />
    </appSettings>

    <log4net debug="false">
        <appender name="consoleAppender" type="log4net.Appender.ConsoleAppender,log4net">
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%4L - %m%n" />
            </layout>
        </appender>
        <appender name="rollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
            <param name="File" value="RTSPClientLibWinFormTestLog.txt" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Size" />
            <param name="StaticLogFileName" value="true" />
            <maximumFileSize value="10MB" />
            <maxSizeRollBackups value="10" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d [%2t] %-5p %50c:%4L - %m %newline" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="consoleAppender" />
            <appender-ref ref="rollingFileAppender" />
        </root>
    </log4net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
